@import url("https://fonts.cdnfonts.com/css/amazon-ember");

body {
    font-family: 'Amazon Ember Display', sans-serif;
    background-color: #191b22;
    color: #FFFFFF;
}

.navbar {
	background-color: #313543;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#content {
	background-color: #282c37;
}

footer {
	background: #282c37;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
}

/* Links */
a, .navbar a {
	color: #d9e1e8;
	text-decoration: none;
}

a:hover {
	color: #d9e1e8;
	text-decoration: underline;
}

a.btn {}
a.btn:hover {
	text-decoration: none;
}

time {
	border-bottom: 1px dotted;
}

h2 {
	font-size: 1.1em;
	border-bottom: 1px dotted #313543;
}

footer {
	font-size: .9em;
	text-align: right;
}