<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>Liked Songs</title>
        {{ bootstrap.load_css() }}
            <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="app.css") }}"/>
        {% endblock %}
        <script defer data-domain="playlists.pygillier.me" src="https://plausible.pygillier.me/js/plausible.js"></script>
    </head>
    <body>
        <main class="container-md" id="content">
            <nav class="navbar col-8 m-auto mb-3 navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ url_for("home") }}">Playlists</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div>
                <div class="row">
                    <div class="col-8 offset-md-2">

            {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
            {% block scripts %}
                <!-- Optional JavaScript -->
                {{ bootstrap.load_js() }}
            {% endblock %}
        </main>
    </body>
</html>