{% extends "layout.html.j2" %}
{% block content %}
    <h1>Liked songs</h1>
    {{ user }}
    <table class="pure-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Duration</th>
                <th>Details</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for track in likes %}
            <tr>
                <td><a href="{{ track["track"]["external_urls"]["spotify"] }}">{{ track["track"]["name"] }}</a></td>
                <td>
                    <ul>
                        {% for artist in track["track"]["artists"] %}
                            <li><a href="{{ artist["external_urls"]["spotify"] }}">{{ artist["name"] }}</a></li>
                        {% endfor %}
                    </ul>
                </td>
                <td><a href="{{ track["track"]["album"]["external_urls"]["spotify"] }}">{{ track["track"]["album"]["name"] }}</a></td>
                <td>{{ track["track"]["duration_ms"]|duration}}</td>
                <td>{{ track }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}